body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../img/table.jpg");
}

/* Header/logo Title */
.header {
  text-align: center;
  color: white;
  padding-left: 14px;
  padding-right: 14px;
}
.hero-image {
  background-image: url("../img/mac.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 10px 10px 0 0;

}
.navbar {
  background-color: rgba(0, 0, 0, 0.75);
  border-color: black;
  margin: 0;
  padding: 0;
  border-radius: 0 0 10px 10px;

}
/* Column container */
.row-main {  
  display: flex;
  flex-flow: row wrap;

}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: rgba(255,255,255,0.7);
  padding: 20px;
 }

/* Main column */
.main {
  flex: 70%;
  background-color: rgba(255,255,255,0.8);
  padding: 20px;
}

/* Footer */
.footer {
  padding: 5px;
  text-align: center;
  background: white;

}

.github {
  height: 35px;
  width: 35px;
}
.linkedin {
  height: 35px;
  width: 35px;
  border-radius: 5px;
}

.row-contact {  
  display: flex;
  flex-wrap: wrap;
  height: 89%;
 }
.contact {
  flex: 20%;
  padding:50px;
  background-color: rgba(255,255,255,0.5);
}
.contact-main {
  flex: 80%;
  background-color: rgba(255,255,255,0.3);
  padding: 18%;
}

.main-img {
  border-radius: 50%;
  padding:1px;
  border:5px solid white;
  background-color:white;
  height: 200px;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hero-image-contact {
  background-image: url("../img/far.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin-bottom: 0;
}


/* Float four columns side by side */
.col-md-3 {
  float: right;
  width: 50%;
  overflow: auto;
  
}

/* Remove extra left and right margins, due to padding in columns */
/*.row {margin: 0 -5px;}

/* Clear floats after the columns */
/*.row:after {
  content: "";
  display: table;
  clear: both;
}*/

/* Style the counter cards */

.card-projects {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: rgba(255,255,255,0.8);
  width: 500px;
  height: 300px;
  padding: 5px;
  border: 5px solid white;
  margin:10px;
 }

#plotly, #d3, #bike, #ml, #geo, #mars {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.d3-card {
  background-color: rgba(255,255,255,0.9);
}
/* Responsive layout - when the screen is less than 700px wide,
 make the two columns stack on top of each other instead of next to each other */

}
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
.col-md-3 {
    width: 10%;
    display: block;
    margin-bottom: 20px;
  }
}